<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinRestaurantUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=MANDALA-BOOK\MSSQL2008;Initial Catalog=TestDBClean;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"/>
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
</configuration>
